
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S36P41XED1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S36P41XED1');
</script>
<script defer src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.0.0/webcomponents-loader.js"></script>
<script defer src="https://www.unpkg.com/lit@2.0.0-rc.2/polyfill-support.js"></script>
<script defer type="module" src="https://cdn.jsdelivr.net/npm/@n8n_io/n8n-demo-component/n8n-demo.bundled.js"></script>
<script>
class N8nDemo extends HTMLElement {
  connectedCallback() {
    const data = this.getAttribute("file");
    this.innerHTML = `<n8n-demo theme="dark" frame="true" clicktointeract="true" hidecanvaserrors="true" workflow='${data}'></n8n-demo>`;}
}
customElements.define("n8n-demo-wrapper", N8nDemo);
</script>
